.fastag-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.fastag-heading {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.fastag-subheading {
    font-size: 14px;
    color: #888888;
    margin-bottom: 20px;
}

.fastag-input-container {
    display: flex;
    gap: 5px;
    /* margin-bottom: 10px; */
}

.fastag-input {
    /* font-family: 'Poppins', sans-serif; */
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1A9E75;
    color: #1A9E75;
    font-weight: 800;
    font-size: 10px;
}

.fastag-button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 12px;
    background-color: #1A9E75;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.fastag-powered {
    font-size: 12px;
    color: #777;
    text-align: center;
    /* margin-top: 6px; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 10px;
}
  
.fastag-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.netc {
    width: 57px;
    height: 57px;
}

.bharat{
    width: 47px;
    height: 25px;
}
  