.trending-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
    /* // Image: plugged-chargers-into-two-electric-cars-charge-station; */
    /* opacity: 0.25; */
}

.trending-heading {
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 2px; */
    color: #333;
}

.trending-content {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    margin: 20px -8px;
    background: linear-gradient(170.33deg, #08D092 7.28%, #06593D 109.9%);
    background: url("../../assets/trending/background-of-trending.png");
    background-size: cover;
}

.trending-text h4 {
    color: #EBFF00;
    font-size: 20px;
    font-weight: 500;
}

.trending-text h6{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.trending-text p {
    color: #fff;
    font-size: 10px;
    margin-bottom: 8px;
    width: 60%;
}

.customer-count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    margin-right: 40px;
    margin-bottom: -5px;
}

.customer-img {
    width: 40px;
    height: 23px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;
}

.customer-count h3{
    font-size: 16px;
    font-weight: 500;
}


.customer-count-para .customer-count-para-p{
    font-size: 7px;
    margin-left: 210px;
}


.trending-indicator {
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 90px;
    height: 6px;
    background-color: #eee;
    border-radius: 5px;
    margin: 0 3px;
}

.active{
    /* background-color: #ccc; */
    background-color: #1A9E75;
    margin-left: 3px;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    margin-top: 1px;
}
